.family-sect {
  grid-area: family;
  text-align: center;
}

.family-btn {
  width: 150px;
  margin: 37px 5px 0px 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

.family-btn-drinks {
  width: 150px;
  margin: 37px 5px 0px 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  background-color: #ff8066;
  border: none;
  color: aliceblue;
}

.family-btn-food {
  width: 150px;
  margin: 37px 5px 0px 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  background-color: cadetblue;
  border: none;
  color: aliceblue;
}

.type-sect {
  grid-area: type;
  margin-top: 12px;
  text-align: center;
}

.type-btn {
  width: 100px;
  margin: 15px 5px 0px 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.type-btn-drinks {
  width: 100px;
  margin: 15px 5px 0px 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  background-color: #ff8066;
  border: none;
  color: aliceblue;
}

.type-btn-food {
  width: 100px;
  margin: 15px 5px 0px 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  background-color: cadetblue;
  border: none;
  color: aliceblue;
}
