.iL-buttons-sect {
  display: flex;
  width: 60%;
}

.iL-family-sect {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 25px;
}

.iL-type-sect {
  text-align: left;
  margin-top: 23px;
  margin-left: 15px;
}

.iL-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.iL-items {
  margin: 30px 40px;
  max-height: 50vh;
  overflow: auto;
  display: inline-block;
  width: 80%;
}

.iL-form {
  justify-self: start;
}