.iL-buttons-sect {
  display: flex;
}

.iL-family-sect {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 15px;
}

.iL-type-sect {
  text-align: left;
  margin-top: 23px;
  margin-left: 15px;
}

.iL-items-sect {
  margin: 30px 30px;
  max-height: 50vh;
  overflow: auto;
  cursor: pointer;
}